[submodule "dependencies/liquid-dsp"]
	path = dependencies/liquid-dsp
	url = https://github.com/drexelwireless/liquid-dsp.git
[submodule "dependencies/uhd"]
	path = dependencies/uhd
	url = https://github.com/drexelwireless/uhd.git
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dependencies/libcorrect"]
	path = dependencies/libcorrect
	url = https://github.com/drexelwireless/libcorrect.git
[submodule "dependencies/xsimd"]
	path = dependencies/xsimd
	url = https://github.com/QuantStack/xsimd.git
[submodule "dependencies/firpm"]
	path = dependencies/firpm
	url = https://github.com/sfilip/firpm.git
