*.egg-info
*.eggs
*.pyc
*.so
__pycache__/
build/
obj/
tmp/
/.vscode/
/docs/build/
/docs/doxygen/
/dragonradio
/python/dragonradio/dragonradio/radio/version.py
/python/dragonradio-tools/dragonradio/tools/version.py
/tools/venv/
/venv/
