[submodule "dependencies/liquid-dsp"]
	path = dependencies/liquid-dsp
	url = git@github.com:mainland/liquid-dsp.git
	branch = sc2
[submodule "dependencies/liquid-usrp"]
	path = dependencies/liquid-usrp
	url = git@github.com:mainland/liquid-usrp.git
	branch = sc2
[submodule "dependencies/uhd"]
	path = dependencies/uhd
	url = git@github.com:mainland/uhd.git
	branch = sc2
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "dependencies/libcorrect"]
	path = dependencies/libcorrect
	url = git@github.com:mainland/libcorrect.git
