[Unit]
Description=DragonRadio

[Service]
Type=forking
ExecStart=/root/full-radio/service/systemd/dragonradio.sh start
ExecStop=/root/full-radio/service/systemd/dragonradio.sh stop
RestartSec=5
TimeoutStartSec=10
TimeoutSec=60
RuntimeMaxSec=infinity
Restart=on-failure
PIDFile=/var/run/dragonradio.pid

[Install]
WantedBy=multi-user.target
